html{

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
    color: #fff;

}
img {

    height: 370px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 2%;
    margin-bottom: 10px;
    border: solid 1px;

}

ul {

    list-style: none;

}

footer {

    margin-top: 50px;

}

a {

    color: #fff;
    text-decoration: none;
    

}

a:hover{

    color: rgb(3, 3, 245) ;
    font-weight: bold;

}

.aboutimg{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-top: 15px;

}

#about{

    width: 500px;
    height: 400px;
    background-color: #eef10a;
    color: rgb(3, 3, 245);
    margin-left: 200px;
    margin-top: 60px;
    border-radius: 3%;
    padding: 1%;
    border: solid 2px  rgb(3, 3, 245);

}

#skills{

    background-color: #eef10a;
    color: rgb(3, 3, 245);
    height: 430px;
    width: 350px;
    border-radius: 3%;
    margin-top: 60px;
    margin-left: 200px;
    border: solid 2px  rgb(3, 3, 245);
    

}

#father{

    display: flex;

}

.project {

    background-color: #eef10a;
    color: rgb(3, 3, 245);
    border-radius: 8px;
    width: 750px;
    height: 215px;
    margin-left: 25%;
    margin-bottom: 20px;
    border: solid 2px

}

.imgpj {

    width: 150px;
    height: 150px;
    border-radius: 8%;
    float: left;
    margin-top: 22px;
    display: flex;

}

h2 {

    margin-top: 15px;

}

div >  p > a {
    color: darkmagenta;
}

div > p > a:hover {

    color: black;
} 